
text/thesis-main.synctex.gz
text/thesis-main.pdf
text/thesis-main.log
text/thesis-main.brf
text/thesis-main.bbl
auto/*
*.aux
*.aux
*.toc
*.log
*.blg
*.aux
*.toc
*.log
*.blg
*.aux
text/thesis-main.synctex(busy)
